/*Appmenu/static/css/styles.css */


body {
  background-image: url("{% static 'img/pizarron.jpg' %}");
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}


    .btn-carrito-flotante {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #ff9800;
        color: white;
        border: none;
        padding: 15px;
        border-radius: 50%;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
    }

    .btn-carrito-flotante:hover {
        background-color: #e67e22;
    }




.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("{% static 'img/portada.jpeg' %}"); /* Ruta a la imagen en static */
}

.img-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;  /* Hace la imagen redonda */
    object-fit: cover;   /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    margin: 5px;         /* Ajusta el espacio alrededor de la imagen */
}



/*Appmenu/static/css/styles.css */
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("{% static 'img/portada.jpeg' %}"); /* Ruta a la imagen en static */
}

.img-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;  /* Hace la imagen redonda */
  object-fit: cover;   /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
  margin: 5px;         /* Ajusta el espacio alrededor de la imagen */
}

.tarjeta-producto {
  background-color: #dcdada;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.imagen-producto {
  width: 300px; /* Ancho fijo */
  height: 200px; /* Altura fija */
  overflow: hidden; /* Oculta el exceso de imagen */
  background-color: #fffefe; /* Fondo gris claro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-producto img {
  width: 100%; /* Ocupa el 100% del ancho */
  height: 100%; /* Ocupa el 100% de la altura */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
}

.imagen-producto {
  height: 200px;
  overflow: hidden;
}

.imagen-producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.precio-producto {
  padding: 20px;
}

.informacion-productos {
  padding: 8px;
}

.titulo-producto {
  font-weight: bold;
  margin-bottom: 10px;
}

.precio-producto {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.botones-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones-acciones button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.botones-acciones button:hover {
  transform: scale(1.05);
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}


/* Estilos para el botón "Comprar" */
.button-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-comprar {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #28a745;
  text-decoration: none;
  flex-shrink: 0; /* Evita que el botón se encoja si hay poco espacio */
  transition: background-color 0.3s ease;
}

.btn-comprar:hover {
  text-decoration-line: none;
  background-color: #a72828;
  color: #fff;
  transform: scale(1.05);
}

.d-flex {
  gap: 10px; /* Añade espacio entre los botones */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(6, 230, 219, 0.5);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
}

.modal-content {
  background-color: #fff; /* Fondo blanco */
  margin: 15% auto; /* Centrando el modal verticalmente */
  padding: 20px;
  border: 5px solid rgba(6, 230, 219, 0.5);
  width: 100%;
  max-width: 25rem; /* Ancho máximo */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  border-radius: 10px; /* Bordes redondeados */
}


