{% load static %}
{% load custom_filters %}

{% block 'modal' %}
{% include 'modal.html' %}
{% endblock %}

<div class="col-sm-6 mt-4 mb-3">
    <div class="tarjeta-producto" style="width: 16rem;">
        <div class="informacion-productos">
            <h2 class="titulo-producto" style="text-align: center;">{{ producto.nombre }}</h2>
        </div>
        <div class="imagen-producto">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        </div>
        <div class="precio-producto">
            <h2 class="precio-producto" style="font-weight: bold;">Valor: $ {{ producto.precio|punto_miles }}</h2>
            <!-- Botón de información -->
            <button type="button" class="btn btn-info" onclick="showModal('{{ producto.nombre }}', '{{ producto.descripcion }}', '{{ producto.precio }}')">
                <i class="bi bi-info-circle"></i> Informacion
            </button>
            <!-- Botón de agregar al carrito -->
            <button type="button" class="btn btn-comprar" onclick="addToCart({{ producto.id }}, '{{ producto.nombre }}', {{ producto.precio }})">
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
    </div>
</div>
